/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

:root {
    --wallpaper: url("Everforest-Dark-Soft");

    /* Special */
    --background: #333C43;
    --foreground: #D3C6AA;
    --cursor: #D3C6AA;

    /* Colors */
    --color0:  #3A464C;
    --color1:  #E67E80;
    --color2:  #A7C080;
    --color3:  #DBBC7F;
    --color4:  #7FBBB3;
    --color5:  #D699B6;
    --color6:  #83C092;
    --color7:  #D3C6AA;
    --color8:  #5C6A72;
    --color9:  #F85552;
    --color10: #8DA101;
    --color11: #DFA000;
    --color12: #3A94C5;
    --color13: #DF69BA;
    --color14: #35A77C;
    --color15: #DFDDC8;
}
