@define-color selected-text {{colors.inverse_primary.default.hex}};
@define-color text {{colors.on_surface.default.hex}};
@define-color base {{colors.surface_container.default.hex}};
@define-color border {{colors.outline_variant.default.hex}};
@define-color foreground {{colors.on_background.default.hex}};
@define-color background {{colors.background.default.hex}};
@define-color accent_bg_color {{colors.primary_container.default.hex}};

<* for name, value in colors *>
    @define-color {{name}} {{value.default.hex}};
<* endfor *>

