[Desktop Entry]
Exec=firefox --class=wah-7CemiU3m --name=wah-7CemiU3m --profile=/home/estepleb/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/profiles/firefox/7CemiU3m --no-remote https://claude.ai
Icon=/home/estepleb/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/icons/7CemiU3m.png
Name=Claude
StartupWMClass=wah-7CemiU3m
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
X-WAH=true
X-WAH-BROWSER-ID=firefox
X-WAH-ID=7CemiU3m
X-WAH-ISOLATE=true
X-WAH-MAXIMIZE=false
X-WAH-PROFILE=/home/estepleb/.var/app/org.pvermeer.WebAppHub/data/web-app-hub/profiles/firefox/7CemiU3m
X-WAH-URL=https://claude.ai
X-WAH-VERSION=0.2.2

