// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

clipboard {
    disable-primary
}

overview {
    zoom 0.5

    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=0 y=10
    }
}

debug {
    // Allows notification actions and window activation from DMS.
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
   skip-at-startup
}
