/* ---------------------------- */
/* Base Colors                  */
/* ---------------------------- */
$background: {{colors.surface_container_highest.default.hex}}; // Main background
$background-alt: {{colors.surface_container.default.hex}}; // Secondary background
$background-dark: {{colors.surface_container_highest.default.hex}}; // Darkest background

/* Text Colors */
$text-main: {{colors.on_background.default.hex}}; // Primary text color
$text-secondary: {{colors.primary.default.hex}}; // Secondary text color
$text-muted: {{colors.primary.default.hex}}; // Tertiary text, muted

/* Surface Colors */
$surface-disabled: {{colors.surface_variant.default.hex}}; // Background for disabled items
$surface-neutral: {{colors.surface_container_highest.default.hex}}; // Neutral surface for cards, panels
$surface-highlight: {{colors.surface_tint.default.hex}}; // Selection and highlights

/* Accent Colors */
$accent-light: #f5e0dc; // Lightest accent (Rosewater)
$accent-pink: {{colors.surface_tint.default.hex}}; // Pink accent
$accent-purple: #cba6f7; // Mauve accent
$accent-red: {{colors.error.default.hex}}; // Red for errors and warnings
$accent-orange: #fab387; // Orange for warnings and alerts
$accent-yellow: #f9e2af; // Yellow for highlights
$accent-green: #a6e3a1; // Green for success
$accent-teal: #94e2d5; // Teal for information
$accent-blue: #89b4fa; // Blue for links and actions
$accent-light-blue: #89dceb; // Sky blue accent
$accent-lavender: #b4befe; // Lavender for subtle highlights

/* Overlay Colors */
$text-disabled: #6c7086; // Text for disabled elements
$text-muted-light: #7f849c; // Light-muted text for hints
$text-muted-dark: #9399b2; // Dark-muted text

/* Additional UI Elements */
$bar-background: $background;
$shadow-color: {{colors.shadow.default.rgba | set_alpha: 0.6}};
$ws-active: {{colors.inverse_primary.default.hex}};
$ws-hover: {{colors.primary.default.hex}};
