[Desktop Entry]
Name=Game 455712169795780630
Exec=/app/bin/project-plus-dolphin %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-455712169795780630;
